body {
  background-color: #F9F9F9;
  font-family: outfit;
}

.logo {
  width: 130px;
  height: 70px;
  left: 100px;
}

.phone {
  width: 120px;
  height: 19px;
  margin-right: 50px;
}

.fast-btn {
  width: 148px;
  height: 48px;
}

.homeImage {
  width: 550px;
}

.div-box {
  height: 120px;
  width: 120px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #ECEEE9;
}

.content {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30.4px;
  letter-spacing: 0.04em;
  text-align: left;
  width: 498px;
  height: 217px;
  top: 1847px;
  left: 177px;
  gap: 0px;
  opacity: 0px;
  margin-top: 25px;
}

.service-div {
  display: flex;
  align-items: center;
  gap: 8px; 
  padding: 10px 0;
  margin-bottom: 25px;
}

.service-image {
  width: 38px;
  height: 38px;
  margin-bottom: 12px;
  margin-right: 15px;
}

.plus-icon{
  color: red;
  margin-right: 20px;
}

.quote-para{
  color: #606762;
  font-size: 19px;
  letter-spacing: 1px;
}


.footer-para{
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}

.foot-text{
  color: #9ECCAB;
  font-size: 18px;
  word-spacing: 4px;
}

.details{
  margin-top: 10px;
}

.get-quote-btn{
  height: 50px;
  width: 250px;
  color: white;
  border: 2px solid white;
  background-color: #678928;
}

.contact-img{
  color: white;
}

.social-media-img i{
  color: white;
  height: 35px;
  width: 35px;
}

.faq-para, .service-para{
  font-weight: bold;
  font-size: 18px;
}

/* background images */
.home-container{
  background-image: url('./images/Rectangle 72.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  top: 34px;
  width: 1704px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.aboutus-container{
  position: relative;
  background-image: url('./images/Rectangle 71.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  padding: 30px 0;
  margin-bottom: 100px;
}

.services-container{
  background-image: url('./images/flies-bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 685px;
  padding: 90px;
  box-sizing: border-box;
}

.review-container{
 background-image: url('./images/Rectangle 83.png');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 width: 100vw;
 padding: 50px 0;
 padding-inline: 150px;
}